body {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 0px;
	font-size: 20px;
	display:inline;
}

hr.solid {
  border-top: 1px solid #eee;
}

.professor_section {
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 20px;
	font-family: Arial, sans-serif;
}

.title {
	font-size: 22px;
	text-decoration: none;
	border: none;
	text-align: left;
	padding: 0;
	background-color: white;
	color: rgb(47, 47, 165);
	cursor: pointer;
}

.fields {
	color:rgb(27, 27, 27);
	font-size:13px;
	margin-top:5px;
}

.counts{
	color:rgb(59, 59, 59);
	font-size:13px;
}

.circle_img {
  border-radius: 50%;
  width: 60px;
  height:60px;
  object-fit:cover;
}

.center_horizontal {
	text-align: center;
}

.logo {
	width: 200px;
	vertical-align:middle;
	margin-left: 50px;
	margin-right: 30px;
}

.search_bar {
	vertical-align:middle;
    height: 30px;
	width: 550px;
    font-size: 14pt;
	border-width: thin;
	border-radius: 3px;
	border-color: #dadce0;
	box-shadow: .1px .1px .2px .3px #ccc;
	margin-bottom: 20px;
	margin-top: 20px;
}

.search_button {
	background-color: #f8f9fa;
	border-width: thin;
	border-radius: 3px;
	border-color: #dadce0;
	padding: 5px 15px;
	box-shadow: .1px .1px .2px .3px #ccc;
	margin-left: 10px;
}

.results {
	font-family: Arial, sans-serif;
	color: #555;
	margin-left: 55px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.loading{
	text-align: left;
	font-size: 20px;
}

.back_page_button {
	background-color: #f8f9fa;
	border-width: thin;
	border-radius: 3px;
	border-color: #dadce0;
	padding: 5px 15px;
	box-shadow: .1px .1px .2px .3px #ccc;
	margin-left: 10px;
	pointer-events: none;
	opacity: 0.5;
}

.next_page_button {
	background-color: #f8f9fa;
	border-width: thin;
	border-radius: 3px;
	border-color: #dadce0;
	padding: 5px 15px;
	box-shadow: .1px .1px .2px .3px #ccc;
	margin-left: 10px;
	pointer-events: none;
	opacity: 0.5;
}
